:root {
  font-family: "jetbrains mono", monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: inherit;
  border: none;
  color: #888;
  font-family: monospace;
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus {
  color: #fff;
}

.custom-notification {
  background-color: transparent;
  padding: 0.5rem;
  font-size: 14px;
  text-align: center;
  margin-bottom: 2rem;
  color: #e2e2e2;
  border-bottom: 2px solid;
}
.custom-notification.error {
  border-color: #e03b3b;
  color: #e03b3b;
}

.custom-notification.sucess {
  color: #66a349;
}

.custom-notification.warn {
  color: #bcbe32;
}

@media all and (display-mode: fullscreen) {
  .gitlink {
    display: none;
  }
}

/* @media (prefers-color-scheme: light) {

} */
